header {
    background-color:  #456456   ;
}
.titre {  

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fond {
    background-color:#BFB4A0 ;
}

.cat {
    background-color: #456456;
}
.card{
    
    background-color: #456456;
}