{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<section class="fond g-0 m-0">
<h1> Page d'accueil</h1>
</section>

<section class="fond g-0 m-0">
        
      {% for cat in categories %}
        <a href="/catalogue/categorie/{{ cat.id }}" class="card" >           
            <h5 class="text-center" style="">{{cat.libelleCategorie}}</h5>
          </div> 
        </a>
        {% endfor %}
   
  </section>
{% endblock %}
